<h1>Muestreo temperatura °</h1>

<p>El componente demuestra como elanzar datos de servidor.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>
<a [routerLink]="['/eventos']">Crear Evento</a>
<table class='table' *ngIf="forecasts">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.dateFormatted }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>
