<h1>Lista de Eventos </h1>

<p>El componente demuestra como elanzar datos de servidor.</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>
<a [routerLink]="['/eventos']">Crear Evento</a>
<table class='table' *ngIf="forecasts">
  <thead>
    <tr>
      <th>FechaInicio</th>
      <th>FechaFin</th>
      <th>Duracion(Hrs.)</th>
      <th>No. Asistentes</th>
      <th>Zona del Evento</th>
      <th>Ver mas</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.dateFormatted }}</td>
      <td>{{ forecast.dateFinFormatted}}</td>
      <td>{{ forecast.duracion }}</td>
      <td>{{ forecast.asistentes }}</td>
      <td>{{ forecast.summary }}</td>
      <td><a [routerLink]="['/eventos/'+forecast.idEvento]">Detalle</a></td>
    </tr>
  </tbody>
</table>
