################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/reactiveForm.web/bin/HPD/Debug/netcoreapp2.1
