<h1>App desarrollado por David Alfonso Castañeda</h1>
<p>Conoce las apliaciones de NetCore combinadas con Angular</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>Como fue construida ésta aplicacion:</p>
<ul>
  <li><strong>La base es NetCore 2.1</strong>. en VisualStudio2017 <em> usando el cli-command</em> then <em>Back</em> to return here.</li>
  <li><strong>Angular integration</strong>. Es un framework potente ideal para proyectos mediandos a sistemas escalables <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
  <li><strong>Efficient production builds</strong>. incorporando una librería de terceros como @syncfusion,obtenemos mayor riqueza en controles muy útiles para cada requerimiento , también existen opciones como angular.material<code>Ventaja de Angular vs React</code>Angular a pesar de haber tenido varias actualizaciones hoy en día es un Framework estable y muy potente,tiene una mejor arquitectura que React, obligandonos a hacer buenas prácticas; para proyectos grandes y escalables Angular es el favorito. Algunos prefieren React por la ligeresa en numero de archivos pero en realizadad no es un gran beneficio. <code>ng build</code> o simplemente con boostrap, ahead-of-time compiled JavaScript files.</li>
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, se utilizaron migrations para creacion de tablas en un servidor sqlserver<code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>
